.container {
  padding-top: 150px;
}

.footer-text {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
}

.name-container {
  /*display: none;*/
}

@media(max-width: 992px) {
  .container {
    padding-top: 10px;
  }
}
