<div class="row">
  <%= semantic_form_for @initials, :remote => true, :label => false, :validate => true, :html => { :class => 'well form-inline' } do |f| %>
  <%= f.input :initials, :hint => "Enter your initials", :label => false, :input_html => { :placeholder => 'POW', :class => 'input-small', :maxlength => '3' } %>
<% end -%>
</div>
<div class="row" id="result" />
